:root {
--brand-sea-blue: #0669bf ;
--brand-blue-navy: #08678c ;
--brand-light-blue: #dff0f2 ;
--brand-gold: #d9a711 ;
--brand-beige: #d9c5a0 ;
--brand-green: #8fbb93 ;
--gray-01-gray: #1d1513 ;
--gray-02-gray: #999592 ;
--gray-03-gray: #cecac7 ;
--gray-04-gray: #e8e7e3 ;
--gray-05-gray: #fafafa ;
}
