.footer {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: flex-start; 
    background-color: var(--brand-blue-navy); 
    color: #FFFFFF;
    padding: 40px; 
    gap: 20px;
}

.footer__logo {
    max-width: 120px; 
    order: 1; 
}


.footer__nom {
    font-size: 12px; 
    font-family: 'Mulish', sans-serif;
    order: 3; 
    flex-basis: 100%; 
    text-align: right;
}

.footer__legale {
    font-weight: bold; 
    text-transform: uppercase; 
    font-size: 12px; 
    order: 4;
    flex-basis: 100%; 
    text-align: right; 
    margin-bottom: 10px; 
}

.footer__texte {
    font-size: 12px; 
    font-family: 'Mulish';
    order: 5; 
    text-align: right; 
    margin-bottom: 10px; 
    flex-basis: 100%; 
}

.footer__texte a {
    color: #FFFFFF; 
    text-decoration: underline; 
}

.footer__social {
    display: flex; 
    gap: 10px; 
    justify-content: flex-end; 
    margin-top: 20px; 
    order: 6; 
}

