.header {
    background-color: var(--brand-blue-navy);
}
.header__logo-img {
    width: 70px;
}

.header__titre {
    color: white;
    font-size : 24px ;
    text-align: center;
}

.header__iconLangue {
    width: 30px;
    margin-right: 10px;
}