/*Header*/

.header {
    background-color : var(--brand-sea-blue);
}

.header__logo {
    size: 50px;

}
.header__logo-img {
    size: 50px;
}
.header__titre {

}
.header__langue-btn {

}
.header__iconLangue {

}
.header__iconMenu {

}